.single-matchup {
  border: 1px solid blue;
  margin-bottom: 10px;
  padding: 2px;
}

.teams-comparison {
  margin: 30px 45px;
  border: 1px solid red;
  padding: 2px;
}

.team {
  padding-left: 20%
}